@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * IncalInfinite implementation : © Evan Pulgino <evan.pulgino@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * incalinfinite.scss
 *
 */
@import url(../../../css/csslayer.css);
/**
 *
 * General styles
 *
 */
html {
  background-image: url(./img/incalbg.jpg);
  background-size: cover;
  font-size: calc(15px + 0.390625vw);
}

/**
 *
 * Layout styles
 *
 */
#incal-table-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
 *
 * Location styles
 *
 */
#suicidealley {
  background-image: url(./img/suicidealley.png);
  background-repeat: no-repeat;
  filter: drop-shadow(2px 2px 2px black);
  -webkit-filter: drop-shadow(2px 2px 3px #000);
  height: 310px;
  width: 506px;
}

.locationtile {
  background-image: url(./img/locationtiles.png);
  background-repeat: no-repeat;
  filter: drop-shadow(2px 2px 2px black);
  -webkit-filter: drop-shadow(2px 2px 3px #000);
  height: 307px;
  width: 506px;
}

.acidlake {
  background-position: 0 0;
}

.aquaend {
  background-position: -507px 0;
}

.centralcalculator {
  background-position: 0 -307px;
}

.crystalforest {
  background-position: -507px -307px;
}

.ourgargan {
  background-position: 0 -614px;
}

.psychoratsdump {
  background-position: -507px -614px;
}

.technocity {
  background-position: -1014px 0;
}

.undergroundriver {
  background-position: -1014px -307px;
}
