@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * IncalInfinite implementation : © Evan Pulgino <evan.pulgino@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * incalinfinite.scss
 *
 */
@import url(../../../css/csslayer.css);
/**
 *
 * Style variables
 *
 */
:root {
  --player-color-hex: #f00;
  --player-color-rgba: rgba(255, 0, 0, 0.5);
}

/**
 *
 * General styles
 *
 */
@font-face {
  font-family: "ITC Serif Gothic";
  src: url("./font/SerifGothic-Heavy.eot");
  src: url("./font/SerifGothic-Heavy.eot?#iefix") format("embedded-opentype"), url("./font/SerifGothic-Heavy.woff2") format("woff2"), url("./font/SerifGothic-Heavy.woff") format("woff"), url("./font/SerifGothic-Heavy.ttf") format("truetype"), url("./font/SerifGothic-Heavy.svg#SerifGothic-Heavy") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
html {
  background-image: url(./img/incalbg.jpg);
  background-size: contain;
  font-size: calc(15px + 0.390625vw);
}

#pagemaintitletext {
  font-family: "ITC Serif Gothic" !important;
}

.player-name {
  font-family: "ITC Serif Gothic" !important;
}

.hidden {
  display: none !important;
}

.mirror {
  transform: translate(-50%, -50%) scaleX(-1) !important;
}

.incal-button {
  background-color: #000000;
  border: 2px solid #fbcb0a;
  color: #ffffff;
  font-family: "ITC Serif Gothic";
  font-size: 0.6rem;
  padding: 0.3rem 1rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  margin-left: 25px;
}

.incal-button:hover {
  background-color: #fbcb0a !important;
  color: #000000 !important;
  cursor: pointer;
}

.incal-button-disabled {
  background-color: #ccc !important;
  color: #fff !important;
  border: 2px solid #ccc !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
}

.incal-button-e94190 {
  border: 2px solid #e94190 !important;
}

.incal-button-e94190:hover {
  background-color: #e94190 !important;
}

.incal-button-008000 {
  border: 2px solid #008000 !important;
}

.incal-button-008000:hover {
  background-color: #008000 !important;
}

.incal-button-982fff {
  border: 2px solid #982fff !important;
}

.incal-button-982fff:hover {
  background-color: #982fff !important;
}

.incal-button-72c3b1 {
  border: 2px solid #72c3b1 !important;
}

.incal-button-72c3b1:hover {
  background-color: #72c3b1 !important;
}

.incal-button-ff0000 {
  border: 2px solid #ff0000 !important;
}

.incal-button-ff0000:hover {
  background-color: #ff0000 !important;
}

.incal-button-0000ff {
  border: 2px solid #0000ff !important;
}

.incal-button-0000ff:hover {
  background-color: #0000ff !important;
}

.incal-button-ffa500 {
  border: 2px solid #ffa500 !important;
}

.incal-button-ffa500:hover {
  background-color: #ffa500 !important;
}

.incal-button-000000 {
  border: 2px solid #000000 !important;
}

.incal-button-000000:hover {
  background-color: #000000 !important;
}

.incal-button-ffffff {
  border: 2px solid #ffffff !important;
}

.incal-button-ffffff:hover {
  background-color: #ffffff !important;
}

.incal-button-f07f16 {
  border: 2px solid #f07f16 !important;
}

.incal-button-f07f16:hover {
  background-color: #f07f16 !important;
}

.incal-button-7b7b7b {
  border: 2px solid #7b7b7b !important;
}

.incal-button-7b7b7b:hover {
  background-color: #7b7b7b !important;
}

.incal-button-bdd002 {
  border: 2px solid #bdd002 !important;
}

.incal-button-bdd002:hover {
  background-color: #bdd002 !important;
}

.incal-card-disabled {
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
  background-color: #000;
}

.incal-card-selected {
  border: 2px solid #fbcb0a !important;
  box-shadow: 0 0 10px #fbcb0a !important;
  cursor: pointer;
}

.incal-clickable {
  cursor: pointer;
  outline: 4px solid red;
}

/**
 *
 * Card styles
 *
 */
.card-full {
  background-image: url(./img/cards-full.png);
  background-repeat: no-repeat;
  filter: drop-shadow(2px 2px 2px black);
  -webkit-filter: drop-shadow(2px 2px 3px #000);
  border-radius: 5px;
  height: 346px;
  width: 229px;
}

.card {
  background-image: url(./img/cards.png);
  background-repeat: no-repeat;
  filter: drop-shadow(2px 2px 2px black);
  -webkit-filter: drop-shadow(2px 2px 3px #000);
  border-radius: 5px;
  height: 173px;
  width: 114.5px;
}

.card-icon {
  background-image: url(./img/card-icon.png);
  background-repeat: no-repeat;
  filter: drop-shadow(2px 2px 2px black);
  -webkit-filter: drop-shadow(2px 2px 3px #000);
  border-radius: 5px;
  height: 75px;
  width: 50px;
  color: white;
  font-family: "ITC Serif Gothic";
  font-size: 1.5rem;
  text-align: center;
  line-height: 75px;
}

#incal-deck .card {
  position: absolute;
}

#incal-deck .card:nth-child(1) {
  bottom: 0;
  z-index: 1;
}

#incal-deck .card:nth-child(2) {
  bottom: 1px;
  z-index: 2;
}

#incal-deck .card:nth-child(3) {
  bottom: 2px;
  z-index: 3;
}

#incal-deck .card:nth-child(4) {
  bottom: 3px;
  z-index: 4;
}

#incal-deck .card:nth-child(5) {
  bottom: 4px;
  z-index: 5;
}

#incal-deck .card:nth-child(6) {
  bottom: 5px;
  z-index: 6;
}

#incal-deck .card:nth-child(7) {
  bottom: 6px;
  z-index: 7;
}

#incal-deck .card:nth-child(8) {
  bottom: 7px;
  z-index: 8;
}

#incal-deck .card:nth-child(9) {
  bottom: 8px;
  z-index: 9;
}

#incal-deck .card:nth-child(10) {
  bottom: 9px;
  z-index: 10;
}

#incal-deck .card:nth-child(11) {
  bottom: 10px;
  z-index: 11;
}

#incal-deck .card:nth-child(12) {
  bottom: 11px;
  z-index: 12;
}

#incal-deck .card:nth-child(13) {
  bottom: 12px;
  z-index: 13;
}

#incal-deck .card:nth-child(14) {
  bottom: 13px;
  z-index: 14;
}

#incal-deck .card:nth-child(15) {
  bottom: 14px;
  z-index: 15;
}

#incal-deck .card:nth-child(16) {
  bottom: 15px;
  z-index: 16;
}

#incal-deck .card:nth-child(17) {
  bottom: 16px;
  z-index: 17;
}

#incal-deck .card:nth-child(18) {
  bottom: 17px;
  z-index: 18;
}

#incal-deck .card:nth-child(19) {
  bottom: 18px;
  z-index: 19;
}

#incal-deck .card:nth-child(20) {
  bottom: 19px;
  z-index: 20;
}

#incal-deck .card:nth-child(21) {
  bottom: 20px;
  z-index: 21;
}

#incal-deck .card:nth-child(22) {
  bottom: 21px;
  z-index: 22;
}

#incal-deck .card:nth-child(23) {
  bottom: 22px;
  z-index: 23;
}

#incal-deck .card:nth-child(24) {
  bottom: 23px;
  z-index: 24;
}

#incal-deck .card:nth-child(25) {
  bottom: 24px;
  z-index: 25;
}

#incal-deck .card:nth-child(26) {
  bottom: 25px;
  z-index: 26;
}

#incal-deck .card:nth-child(27) {
  bottom: 26px;
  z-index: 27;
}

#incal-deck .card:nth-child(28) {
  bottom: 27px;
  z-index: 28;
}

#incal-deck .card:nth-child(29) {
  bottom: 28px;
  z-index: 29;
}

#incal-deck .card:nth-child(30) {
  bottom: 29px;
  z-index: 30;
}

#incal-deck .card:nth-child(31) {
  bottom: 30px;
  z-index: 31;
}

#incal-deck .card:nth-child(32) {
  bottom: 31px;
  z-index: 32;
}

#incal-deck .card:nth-child(33) {
  bottom: 32px;
  z-index: 33;
}

#incal-deck .card:nth-child(34) {
  bottom: 33px;
  z-index: 34;
}

#incal-deck .card:nth-child(35) {
  bottom: 34px;
  z-index: 35;
}

#incal-deck .card:nth-child(36) {
  bottom: 35px;
  z-index: 36;
}

#incal-deck .card:nth-child(37) {
  bottom: 36px;
  z-index: 37;
}

#incal-deck .card:nth-child(38) {
  bottom: 37px;
  z-index: 38;
}

#incal-deck .card:nth-child(39) {
  bottom: 38px;
  z-index: 39;
}

#incal-deck .card:nth-child(40) {
  bottom: 39px;
  z-index: 40;
}

#incal-deck .card:nth-child(41) {
  bottom: 40px;
  z-index: 41;
}

#incal-deck .card:nth-child(42) {
  bottom: 41px;
  z-index: 42;
}

#incal-deck .card:nth-child(43) {
  bottom: 42px;
  z-index: 43;
}

#incal-deck .card:nth-child(44) {
  bottom: 43px;
  z-index: 44;
}

#incal-deck .card:nth-child(45) {
  bottom: 44px;
  z-index: 45;
}

#incal-deck .card:nth-child(46) {
  bottom: 45px;
  z-index: 46;
}

#incal-deck .card:nth-child(47) {
  bottom: 46px;
  z-index: 47;
}

#incal-deck .card:nth-child(48) {
  bottom: 47px;
  z-index: 48;
}

#incal-deck .card:nth-child(49) {
  bottom: 48px;
  z-index: 49;
}

#incal-discard .card {
  position: absolute;
}

#incal-discard .card:nth-child(1) {
  bottom: 0;
  z-index: 1;
}

#incal-discard .card:nth-child(2) {
  bottom: 1px;
  z-index: 2;
}

#incal-discard .card:nth-child(3) {
  bottom: 2px;
  z-index: 3;
}

#incal-discard .card:nth-child(4) {
  bottom: 3px;
  z-index: 4;
}

#incal-discard .card:nth-child(5) {
  bottom: 4px;
  z-index: 5;
}

#incal-discard .card:nth-child(6) {
  bottom: 5px;
  z-index: 6;
}

#incal-discard .card:nth-child(7) {
  bottom: 6px;
  z-index: 7;
}

#incal-discard .card:nth-child(8) {
  bottom: 7px;
  z-index: 8;
}

#incal-discard .card:nth-child(9) {
  bottom: 8px;
  z-index: 9;
}

#incal-discard .card:nth-child(10) {
  bottom: 9px;
  z-index: 10;
}

#incal-discard .card:nth-child(11) {
  bottom: 10px;
  z-index: 11;
}

#incal-discard .card:nth-child(12) {
  bottom: 11px;
  z-index: 12;
}

#incal-discard .card:nth-child(13) {
  bottom: 12px;
  z-index: 13;
}

#incal-discard .card:nth-child(14) {
  bottom: 13px;
  z-index: 14;
}

#incal-discard .card:nth-child(15) {
  bottom: 14px;
  z-index: 15;
}

#incal-discard .card:nth-child(16) {
  bottom: 15px;
  z-index: 16;
}

#incal-discard .card:nth-child(17) {
  bottom: 16px;
  z-index: 17;
}

#incal-discard .card:nth-child(18) {
  bottom: 17px;
  z-index: 18;
}

#incal-discard .card:nth-child(19) {
  bottom: 18px;
  z-index: 19;
}

#incal-discard .card:nth-child(20) {
  bottom: 19px;
  z-index: 20;
}

#incal-discard .card:nth-child(21) {
  bottom: 20px;
  z-index: 21;
}

#incal-discard .card:nth-child(22) {
  bottom: 21px;
  z-index: 22;
}

#incal-discard .card:nth-child(23) {
  bottom: 22px;
  z-index: 23;
}

#incal-discard .card:nth-child(24) {
  bottom: 23px;
  z-index: 24;
}

#incal-discard .card:nth-child(25) {
  bottom: 24px;
  z-index: 25;
}

#incal-discard .card:nth-child(26) {
  bottom: 25px;
  z-index: 26;
}

#incal-discard .card:nth-child(27) {
  bottom: 26px;
  z-index: 27;
}

#incal-discard .card:nth-child(28) {
  bottom: 27px;
  z-index: 28;
}

#incal-discard .card:nth-child(29) {
  bottom: 28px;
  z-index: 29;
}

#incal-discard .card:nth-child(30) {
  bottom: 29px;
  z-index: 30;
}

#incal-discard .card:nth-child(31) {
  bottom: 30px;
  z-index: 31;
}

#incal-discard .card:nth-child(32) {
  bottom: 31px;
  z-index: 32;
}

#incal-discard .card:nth-child(33) {
  bottom: 32px;
  z-index: 33;
}

#incal-discard .card:nth-child(34) {
  bottom: 33px;
  z-index: 34;
}

#incal-discard .card:nth-child(35) {
  bottom: 34px;
  z-index: 35;
}

#incal-discard .card:nth-child(36) {
  bottom: 35px;
  z-index: 36;
}

#incal-discard .card:nth-child(37) {
  bottom: 36px;
  z-index: 37;
}

#incal-discard .card:nth-child(38) {
  bottom: 37px;
  z-index: 38;
}

#incal-discard .card:nth-child(39) {
  bottom: 38px;
  z-index: 39;
}

#incal-discard .card:nth-child(40) {
  bottom: 39px;
  z-index: 40;
}

#incal-discard .card:nth-child(41) {
  bottom: 40px;
  z-index: 41;
}

#incal-discard .card:nth-child(42) {
  bottom: 41px;
  z-index: 42;
}

#incal-discard .card:nth-child(43) {
  bottom: 42px;
  z-index: 43;
}

#incal-discard .card:nth-child(44) {
  bottom: 43px;
  z-index: 44;
}

#incal-discard .card:nth-child(45) {
  bottom: 44px;
  z-index: 45;
}

#incal-discard .card:nth-child(46) {
  bottom: 45px;
  z-index: 46;
}

#incal-discard .card:nth-child(47) {
  bottom: 46px;
  z-index: 47;
}

#incal-discard .card:nth-child(48) {
  bottom: 47px;
  z-index: 48;
}

#incal-discard .card:nth-child(49) {
  bottom: 48px;
  z-index: 49;
}

.animah-1 {
  background-position: 14.28% 0;
}

.animah-2 {
  background-position: 28.57% 0;
}

.animah-3 {
  background-position: 42.86% 0;
}

.animah-4 {
  background-position: 0 25%;
}

.animah-5 {
  background-position: 14.28% 25%;
}

.damage {
  background-position: 28.57% 25%;
}

.deepo-1 {
  background-position: 42.86% 25%;
}

.deepo-2 {
  background-position: 57.14% 0;
}

.deepo-3 {
  background-position: 57.14% 25%;
}

.deepo-4 {
  background-position: 0 50%;
}

.deepo-5 {
  background-position: 14.28% 50%;
}

.johndifool {
  background-position: 28.57% 50%;
}

.kill-1 {
  background-position: 42.86% 50%;
}

.kill-2 {
  background-position: 57.14% 50%;
}

.kill-3 {
  background-position: 71.43% 0;
}

.kill-4 {
  background-position: 71.43% 25%;
}

.kill-5 {
  background-position: 71.43% 50%;
}

.metabaron-1 {
  background-position: 85.71% 0;
}

.metabaron-2 {
  background-position: 85.71% 25%;
}

.metabaron-3 {
  background-position: 85.71% 50%;
}

.metabaron-4 {
  background-position: 0 75%;
}

.metabaron-5 {
  background-position: 14.28% 75%;
}

.solune-1 {
  background-position: 28.57% 75%;
}

.solune-2 {
  background-position: 42.86% 75%;
}

.solune-3 {
  background-position: 57.14% 75%;
}

.solune-4 {
  background-position: 71.43% 75%;
}

.solune-5 {
  background-position: 85.71% 75%;
}

.tanatah-1 {
  background-position: 100% 0;
}

.tanatah-2 {
  background-position: 100% 25%;
}

.tanatah-3 {
  background-position: 100% 50%;
}

.tanatah-4 {
  background-position: 100% 75%;
}

.tanatah-5 {
  background-position: 0 100%;
}

/**
 *
 * Incal Chit styles
 *
 */
.incalchit {
  background-image: url(./img/incalchits.png);
  background-repeat: no-repeat;
  filter: drop-shadow(2px 2px 2px black);
  -webkit-filter: drop-shadow(2px 2px 3px #000);
  height: 115px;
  width: 115px;
  position: absolute;
}

.incalchit-1 {
  background-position: -115px 0;
}

.incalchit-2 {
  background-position: -230px 0;
}

.incalchit-3 {
  background-position: -345px 0;
}

.incalchit-4 {
  background-position: -460px 0;
}

.incalchit-5 {
  background-position: -575px 0;
}

.incalchit-6 {
  background-position: -690px 0;
}

.incalchit-7 {
  background-position: -805px 0;
}

.incalchit-8 {
  background-position: -920px 0;
}

.incalchit-9 {
  background-position: -1035px 0;
}

.incal-location-container .incalchit {
  top: 95px;
  left: -55px;
}

/**
 *
 * Layout styles
 *
 */
#incal-screen {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#incal-game {
  transform-origin: top left;
  position: relative;
}

#incal-table {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

#incal-table-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  max-width: 2400px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.incal-location-space {
  position: relative;
  height: 400px;
  width: 570px;
  justify-content: flex-end !important;
  align-items: flex-start !important;
}

.incal-enemy-space {
  position: relative;
  height: 225px;
  width: 225px;
  transform: scale(0.75);
}

.incal-location-container {
  position: relative;
}

.location-card-container {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  bottom: -85px;
  left: -35px;
}

.player-panel-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.silhouette-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.pile-container {
  display: flex;
  flex-flow: row wrap;
  height: 180px;
  position: relative;
}

#incal-space-decks {
  justify-content: space-evenly !important;
  margin-right: 80px;
}

#incal-deck {
  position: relative;
}

#incal-discard {
  position: relative;
}

.pile-counter {
  top: -22px !important;
  right: -145px !important;
  color: black;
  font-size: 1.75em;
  font-family: "ITC Serif Gothic";
  z-index: 50;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#power-chit-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 110px;
  width: 387px;
  top: 295px;
  left: 66px;
}

#player-hand {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 625px;
}

#incal-space-3 {
  width: 570px !important;
}

#incal-space-9 {
  width: 570px !important;
}

#player-hand-area {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: fixed;
  z-index: 100;
  bottom: 5px;
  left: -1px;
}

#floating-hand-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--player-color-rgba);
  border: 5px solid var(--player-color-hex);
  border-radius: 10px;
  z-index: 101;
  filter: drop-shadow(20px 10px 5x black);
  -webkit-filter: drop-shadow(20px 10px 5px #000);
}

#oversurface {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  pointer-events: none;
}

/**
 *
 * Location styles
 *
 */
.locationtile {
  background-image: url(./img/locationtiles.png);
  background-repeat: no-repeat;
  filter: drop-shadow(2px 2px 2px black);
  -webkit-filter: drop-shadow(2px 2px 3px #000);
  height: 307px;
  width: 506px;
}

.acidlake {
  background-position: -507px 0;
}

.aquaend {
  background-position: -507px -307px;
}

.centralcalculator {
  background-position: 0 -614px;
}

.crystalforest {
  background-position: -507px -614px;
}

.ourgargan {
  background-position: 0 -307px;
}

.psychoratsdump {
  background-position: -1014px 0;
}

.suicidealley {
  background-position: -1014px -614px;
}

.technocity {
  background-position: 0 0;
}

.undergroundriver {
  background-position: -1014px -307px;
}

/**
 *
 * Power Chit styles
 *
 */
.power {
  background-image: url(./img/powerchits.png);
  background-repeat: no-repeat;
  border-radius: 2px;
  filter: drop-shadow(2px 2px 2px black);
  -webkit-filter: drop-shadow(2px 2px 3px #000);
  height: 110px;
  width: 89px;
}

.destroy {
  background-position: 0 0;
}

.discard {
  background-position: -89px 0;
}

.move {
  background-position: -178px 0;
}

.talk {
  background-position: 0 -110px;
}

.used-destroy {
  background-position: -89px -110px;
}

.used-discard {
  background-position: -178px -110px;
}

.used-move {
  background-position: -267px 0;
}

.used-talk {
  background-position: -267px -110px;
}

/**
 *
 * Silhouette styles
 *
 */
.silhouette {
  background-image: url(./img/silhouettes.png);
  background-repeat: no-repeat;
  filter: drop-shadow(5px 5px 5px black);
  -webkit-filter: drop-shadow(5px 5px 6px #000);
  position: absolute;
}

.silhouette-transparent {
  background-image: url(./img/silhouettes-transparent.png);
  background-repeat: no-repeat;
  position: relative;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) !important;
}

.bergs {
  background-position: 0 -156px;
  height: 225px;
  width: 336px;
}

.darkness {
  background-position: 0 -380px;
  height: 253px;
  width: 298px;
}

.gorgothedirty {
  background-position: 0 -920px;
  height: 296px;
  width: 251px;
}

.metaship {
  background-position: 0 0;
  height: 155px;
  width: 334px;
  position: relative !important;
}

.necrobot {
  background-position: 0 -1216px;
  height: 324px;
  width: 172px;
}

.presidentshunchbacks {
  background-position: 0 -634px;
  height: 287px;
  width: 203px;
  transform: scale(0.75);
  position: relative !important;
}

/**
 *
 * Tooltip styles
 *
 */
.incal-tooltip {
  position: relative;
  z-index: 9999;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  pointer-events: none;
  gap: 15px;
  width: 464px;
  padding: 10px;
  background-color: #231f20;
  border-radius: 10px;
  border: 7px solid #fbcb0a;
}

.tooltip-title {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  font-family: "ITC Serif Gothic";
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 406px;
  border: 5px solid #231f20;
  line-height: 50px;
}

.title-animah {
  background-color: #e80289;
}

.title-bergs {
  background-color: #c33c2c;
}

.title-damage {
  background-image: linear-gradient(to right, #d74220, #f6ec2e);
}

.title-darkness {
  background-color: #59825b;
}

.title-deepo {
  background-color: #9ecbe6;
}

.title-gorgothedirty {
  background-color: #cb4d28;
}

.title-johndifool {
  background-color: #ffffff;
}

.title-kill {
  background-color: #01aaeb;
}

.title-location {
  background-color: #f25031;
}

.title-metabaron {
  background-color: #7dcb29;
}

.title-necrobot {
  background-color: #df4030;
}

.title-power {
  background-color: white;
  color: #fbcb0a;
}

.title-presidentshunchbacks {
  background-color: #eac60a;
}

.title-solune {
  background-color: #38b6a6;
}

.title-tanatah {
  background-color: #741e7e;
}

.hexagon {
  background-image: url(./img/hex.png);
  background-repeat: no-repeat;
  height: 54px;
  width: 63px;
  position: absolute;
  right: 15px;
  top: 22px;
}

.location-hexagon {
  background-image: url(./img/location-hex.png);
  background-repeat: no-repeat;
  height: 54px;
  width: 63px;
  position: absolute;
  right: 15px;
  top: 22px;
}

.tooltip-card-value {
  line-height: 55px;
}

.tooltip-power-icon {
  transform: scale(0.7);
  position: absolute;
  right: 10px;
  top: -4px;
}

.text-animah {
  color: #e80289;
}

.text-deepo {
  color: #9ecbe6;
}

.text-johndifool {
  color: black;
}

.text-kill {
  color: #01aaeb;
}

.text-metabaron {
  color: #7dcb29;
}

.text-solune {
  color: #38b6a6;
}

.text-tanatah {
  color: #741e7e;
}

.tooltip-text {
  color: #fff;
  width: 220px;
  font-family: "ITC Serif Gothic";
  font-size: 1.5em;
}

.tooltip-text-location {
  width: 450px !important;
}

.text-bold {
  color: #fbcb0a !important;
}

.text-warning {
  color: #f25031 !important;
}

.tooltip-body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.location-tooltip-name {
  font-size: 1.5em;
  font-weight: bold;
  font-family: "ITC Serif Gothic";
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 406px;
  border: 5px solid #231f20;
  line-height: 50px;
  background-color: #231f20;
}

.locationtile-tooltip {
  position: relative;
  top: -25px;
  left: -25px;
  transform: scale(0.9);
  margin-bottom: -40px;
}

.incal-tooltip .bergs {
  top: 105px;
}

.incal-tooltip .darkness {
  top: 125px;
}

.incal-tooltip .gorgothedirty {
  top: 145px;
}

.incal-tooltip .presidentshunchbacks {
  top: 145px;
}

.incal-tooltip .necrobot {
  top: 160px;
}

.enemy-icon {
  background-image: url(./img/enemyicons.png);
  background-repeat: no-repeat;
  filter: drop-shadow(5px 5px 5px black);
  -webkit-filter: drop-shadow(5px 5px 6px #000);
  width: 63px;
  height: 60px;
  position: absolute;
  right: 15px;
  top: 20px;
}

.darkness-icon {
  background-position: 0 0;
}

.necrobot-icon {
  background-position: -63px 0;
}

.gorgothedirty-icon {
  background-position: -126px 0;
}

.presidentshunchbacks-icon {
  background-position: -189px 0;
}

.bergs-icon {
  background-position: -252px 0;
}
