@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * IncalInfinite implementation : © Evan Pulgino <evan.pulgino@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * incalinfinite.scss
 *
 */
@import url(../../../css/csslayer.css);
/**
 *
 * Style variables
 *
 */
:root {
  --player-color-hex: #f00;
  --player-color-rgba: rgba(255, 0, 0, 0.5);
}

/**
 *
 * General styles
 *
 */
html {
  background-image: url(./img/incalbg.jpg);
  background-size: contain;
  font-size: calc(15px + 0.390625vw);
}

.mirror {
  transform: scaleX(-1);
}

/**
 *
 * Card styles
 *
 */
.card-full {
  background-image: url(./img/cards.png);
  background-repeat: no-repeat;
  filter: drop-shadow(2px 2px 2px black);
  -webkit-filter: drop-shadow(2px 2px 3px #000);
  border-radius: 5px;
  height: 346px;
  width: 229px;
}

.card {
  background-image: url(./img/cards.png);
  background-repeat: no-repeat;
  filter: drop-shadow(2px 2px 2px black);
  -webkit-filter: drop-shadow(2px 2px 3px #000);
  border-radius: 5px;
  height: 173px;
  width: 114.5px;
}

#incal-deck .card {
  position: absolute;
}

.animah-1 {
  background-position: 14.28% 0;
}

.animah-2 {
  background-position: 28.57% 0;
}

.animah-3 {
  background-position: 42.86% 0;
}

.animah-4 {
  background-position: 0 25%;
}

.animah-5 {
  background-position: 14.28% 25%;
}

.damage {
  background-position: 28.57% 25%;
}

.deepo-1 {
  background-position: 42.86% 25%;
}

.deepo-2 {
  background-position: 57.14% 0;
}

.deepo-3 {
  background-position: 57.14% 25%;
}

.deepo-4 {
  background-position: 0 50%;
}

.deepo-5 {
  background-position: 14.28% 50%;
}

.johndifool {
  background-position: 28.57% 50%;
}

.kill-1 {
  background-position: 42.86% 50%;
}

.kill-2 {
  background-position: 57.14% 50%;
}

.kill-3 {
  background-position: 71.43% 0;
}

.kill-4 {
  background-position: 71.43% 25%;
}

.kill-5 {
  background-position: 71.43% 50%;
}

.metabaron-1 {
  background-position: 85.71% 0;
}

.metabaron-2 {
  background-position: 85.71% 25%;
}

.metabaron-3 {
  background-position: 85.71% 50%;
}

.metabaron-4 {
  background-position: 0 75%;
}

.metabaron-5 {
  background-position: 14.28% 75%;
}

.solune-1 {
  background-position: 28.57% 75%;
}

.solune-2 {
  background-position: 42.86% 75%;
}

.solune-3 {
  background-position: 57.14% 75%;
}

.solune-4 {
  background-position: 71.43% 75%;
}

.solune-5 {
  background-position: 85.71% 75%;
}

.tanatah-1 {
  background-position: 100% 0;
}

.tanatah-2 {
  background-position: 100% 25%;
}

.tanatah-3 {
  background-position: 100% 50%;
}

.tanatah-4 {
  background-position: 100% 75%;
}

.tanatah-5 {
  background-position: 0 100%;
}

/**
 *
 * Incal Chit styles
 *
 */
.incalchit {
  background-image: url(./img/incalchits.png);
  background-repeat: no-repeat;
  filter: drop-shadow(2px 2px 2px black);
  -webkit-filter: drop-shadow(2px 2px 3px #000);
  height: 115px;
  width: 115px;
  position: absolute;
}

.incalchit-1 {
  background-position: -115px 0;
}

.incalchit-2 {
  background-position: -230px 0;
}

.incalchit-3 {
  background-position: -345px 0;
}

.incalchit-4 {
  background-position: -460px 0;
}

.incalchit-5 {
  background-position: -575px 0;
}

.incalchit-6 {
  background-position: -690px 0;
}

.incalchit-7 {
  background-position: -805px 0;
}

.incalchit-8 {
  background-position: -920px 0;
}

.incalchit-9 {
  background-position: -1035px 0;
}

.incal-location-container .incalchit {
  top: 95px;
  left: -55px;
}

/**
 *
 * Layout styles
 *
 */
#incal-screen {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#incal-game {
  transform-origin: top left;
  position: relative;
}

#incal-table {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

#incal-table-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  max-width: 2400px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.incal-location-space {
  position: relative;
  height: 400px;
  width: 570px;
  justify-content: flex-end !important;
  align-items: flex-start !important;
}

.incal-enemy-space {
  position: relative;
  height: 225px;
  width: 225px;
  transform: scale(0.75);
}

.incal-location-container {
  position: relative;
}

.location-card-container {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  bottom: -85px;
  left: -35px;
}

.silhouette-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#incal-deck-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  height: 180px;
}

#incal-space-decks {
  justify-content: space-around !important;
}

#power-chit-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 110px;
  width: 387px;
  top: 295px;
  left: 66px;
}

#player-hand {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 500px;
}

#incal-space-3 {
  width: 570px !important;
}

#incal-space-9 {
  width: 570px !important;
}

#player-hand-area {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: fixed;
  z-index: 100;
  bottom: 5px;
  left: -1px;
}

#floating-hand-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--player-color-rgba);
  border: 5px solid var(--player-color-hex);
  border-radius: 10px;
  z-index: 101;
  filter: drop-shadow(20px 10px 5x black);
  -webkit-filter: drop-shadow(20px 10px 5px #000);
}

/**
 *
 * Location styles
 *
 */
.locationtile {
  background-image: url(./img/locationtiles.png);
  background-repeat: no-repeat;
  filter: drop-shadow(2px 2px 2px black);
  -webkit-filter: drop-shadow(2px 2px 3px #000);
  height: 307px;
  width: 506px;
}

.acidlake {
  background-position: -507px 0;
}

.aquaend {
  background-position: -507px -307px;
}

.centralcalculator {
  background-position: 0 -614px;
}

.crystalforest {
  background-position: -507px -614px;
}

.ourgargan {
  background-position: 0 -307px;
}

.psychoratsdump {
  background-position: -1014px 0;
}

.suicidealley {
  background-position: -1014px -614px;
}

.technocity {
  background-position: 0 0;
}

.undergroundriver {
  background-position: -1014px -307px;
}

/**
 *
 * Power Chit styles
 *
 */
.power {
  background-image: url(./img/powerchits.png);
  background-repeat: no-repeat;
  border-radius: 2px;
  filter: drop-shadow(2px 2px 2px black);
  -webkit-filter: drop-shadow(2px 2px 3px #000);
  height: 110px;
  width: 89px;
}

.destroy {
  background-position: 0 0;
}

.discard {
  background-position: -89px 0;
}

.move {
  background-position: -178px 0;
}

.talk {
  background-position: 0 -110px;
}

.used-destroy {
  background-position: -89px -110px;
}

.used-discard {
  background-position: -178px -110px;
}

.used-move {
  background-position: -267px 0;
}

.used-talk {
  background-position: -267px -110px;
}

/**
 *
 * Silhouette styles
 *
 */
.silhouette {
  background-image: url(./img/silhouettes.png);
  background-repeat: no-repeat;
  filter: drop-shadow(5px 5px 5px black);
  -webkit-filter: drop-shadow(5px 5px 6px #000);
  position: absolute;
}

.bergs {
  background-position: 0 -156px;
  height: 225px;
  width: 336px;
}

.darkness {
  background-position: 0 -380px;
  height: 253px;
  width: 298px;
}

.gorgothedirty {
  background-position: 0 -920px;
  height: 296px;
  width: 251px;
}

.metaship {
  background-position: 0 0;
  height: 155px;
  width: 334px;
  transform: scale(0.75);
  position: relative !important;
}

.necrobot {
  background-position: 0 -1216px;
  height: 324px;
  width: 172px;
}

.presidentshunchbacks {
  background-position: 0 -634px;
  height: 287px;
  width: 203px;
  transform: scale(0.75);
  position: relative !important;
}
