/**
 *
 * General styles
 *
 */

@font-face {
  font-family: "ITC Serif Gothic";
  src: url("./font/SerifGothic-Heavy.eot");
  src: url("./font/SerifGothic-Heavy.eot?#iefix") format("embedded-opentype"),
    url("./font/SerifGothic-Heavy.woff2") format("woff2"),
    url("./font/SerifGothic-Heavy.woff") format("woff"),
    url("./font/SerifGothic-Heavy.ttf") format("truetype"),
    url("./font/SerifGothic-Heavy.svg#SerifGothic-Heavy") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html {
  background-image: url(./img/incalbg.jpg);
  background-size: contain;
  font-size: calc(15px + 0.390625vw);
}

#pagemaintitletext {
  font-family: "ITC Serif Gothic" !important;
}

.player-name {
  font-family: "ITC Serif Gothic" !important;
}

.hidden {
  display: none !important;
}

.mirror {
  transform: translate(-50%, -50%) scaleX(-1) !important;
}

.incal-button {
  background-color: #000000;
  border: 2px solid #fbcb0a;
  color: #ffffff;
  font-family: "ITC Serif Gothic";
  font-size: 0.6rem;
  padding: 0.3rem 1rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  margin-left: 25px;
}

.incal-button:hover {
  background-color: #fbcb0a !important;
  color: #000000 !important;
  cursor: pointer;
}

.incal-button-disabled {
  background-color: #ccc !important;
  color: #fff !important;
  border: 2px solid #ccc !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
}

.incal-button-e94190 {
  border: 2px solid #e94190 !important;
}

.incal-button-e94190:hover {
  background-color: #e94190 !important;
}

.incal-button-008000 {
  border: 2px solid #008000 !important;
}

.incal-button-008000:hover {
  background-color: #008000 !important;
}

.incal-button-982fff {
  border: 2px solid #982fff !important;
}

.incal-button-982fff:hover {
  background-color: #982fff !important;
}

.incal-button-72c3b1 {
  border: 2px solid #72c3b1 !important;
}

.incal-button-72c3b1:hover {
  background-color: #72c3b1 !important;
}

.incal-button-ff0000 {
  border: 2px solid #ff0000 !important;
}

.incal-button-ff0000:hover {
  background-color: #ff0000 !important;
}

.incal-button-0000ff {
  border: 2px solid #0000ff !important;
}

.incal-button-0000ff:hover {
  background-color: #0000ff !important;
}

.incal-button-ffa500 {
  border: 2px solid #ffa500 !important;
}

.incal-button-ffa500:hover {
  background-color: #ffa500 !important;
}

.incal-button-000000 {
  border: 2px solid #000000 !important;
}

.incal-button-000000:hover {
  background-color: #000000 !important;
}

.incal-button-ffffff {
  border: 2px solid #ffffff !important;
}

.incal-button-ffffff:hover {
  background-color: #ffffff !important;
}

.incal-button-f07f16 {
  border: 2px solid #f07f16 !important;
}

.incal-button-f07f16:hover {
  background-color: #f07f16 !important;
}

.incal-button-7b7b7b {
  border: 2px solid #7b7b7b !important;
}

.incal-button-7b7b7b:hover {
  background-color: #7b7b7b !important;
}

.incal-button-bdd002 {
  border: 2px solid #bdd002 !important;
}

.incal-button-bdd002:hover {
  background-color: #bdd002 !important;
}

.incal-card-disabled {
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
  background-color: #000;
}

.incal-card-selected {
  border: 2px solid #fbcb0a !important;
  box-shadow: 0 0 10px #fbcb0a !important;
  cursor: pointer;
}

.incal-clickable {
  cursor: pointer;
  outline: 4px solid red;
}
