/**
 *
 * General styles
 *
 */

@font-face {
  font-family: "ITC Serif Gothic";
  src: url("./font/SerifGothic-Heavy.eot");
  src: url("./font/SerifGothic-Heavy.eot?#iefix") format("embedded-opentype"),
    url("./font/SerifGothic-Heavy.woff2") format("woff2"),
    url("./font/SerifGothic-Heavy.woff") format("woff"),
    url("./font/SerifGothic-Heavy.ttf") format("truetype"),
    url("./font/SerifGothic-Heavy.svg#SerifGothic-Heavy") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html {
  background-image: url(./img/incalbg.jpg);
  background-size: contain;
  font-size: calc(15px + 0.390625vw);
}

#pagemaintitletext {
  font-family: "ITC Serif Gothic" !important;
}

.player-name {
  font-family: "ITC Serif Gothic" !important;
}

.hidden {
  display: none !important;
}

.mirror {
  transform: scaleX(-1);
}

.incal-button {
  background-color: #000000;
  border: 2px solid #fbcb0a;
  color: #ffffff;
  font-family: "ITC Serif Gothic";
  font-size: 0.6rem;
  padding: 0.3rem 1rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  margin-left: 25px;
}

.incal-button:hover {
  background-color: #fbcb0a !important;
  color: #000000 !important;
  cursor: pointer;
}

.incal-button-disabled {
  background-color: #ccc !important;
  color: #fff !important;
  border: 2px solid #ccc !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
}

.incal-card-disabled {
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
  background-color: #000;
}

.incal-card-selected {
  border: 2px solid #fbcb0a !important;
  box-shadow: 0 0 10px #fbcb0a !important;
  cursor: pointer;
}

.incal-clickable {
  cursor: pointer;
}
