/**
 *
 * Layout styles
 *
 */

#incal-screen {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#incal-game {
  transform-origin: top left;
  position: relative;
}

#incal-table {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

#incal-table-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  max-width: 2400px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.incal-location-space {
  position: relative;
  height: 400px;
  width: 570px;
  justify-content: flex-end !important;
  align-items: flex-start !important;
}

.incal-enemy-space {
  position: relative;
  height: 225px;
  width: 225px;
  transform: scale(0.75);
}

.incal-location-container {
  position: relative;
}

.location-card-container {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  bottom: -85px;
  left: -35px;
}

.player-panel-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.silhouette-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.pile-container {
  display: flex;
  flex-flow: row wrap;
  height: 180px;
  position: relative;
}

#incal-space-decks {
  justify-content: space-evenly !important;
  margin-right: 80px;
}

#incal-deck {
  position: relative;
}

#incal-discard {
  position: relative;
}

.pile-counter {
  top: -22px !important;
  right: -145px !important;
  color: black;
  font-size: 1.75em;
  font-family: "ITC Serif Gothic";
  z-index: 50;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#power-chit-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 110px;
  width: 387px;
  top: 295px;
  left: 66px;
}

#player-hand {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 500px;
}

#incal-space-3 {
  width: 570px !important;
}

#incal-space-9 {
  width: 570px !important;
}

#player-hand-area {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: fixed;
  z-index: 100;
  bottom: 5px;
  left: -1px;
}

#floating-hand-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: $playerColorRgba;
  border: 5px solid $playerColorHex;
  border-radius: 10px;
  z-index: 101;
  filter: drop-shadow(20px 10px 5x black);
  -webkit-filter: drop-shadow(20px 10px 5px #000);
}
