/**
 *
 * Layout styles
 *
 */

#incal-game {
  position: relative;
  width: 100%;
}

#incal-table {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 15px;
}

#incal-table-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  max-width: 2400px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.incal-location-space {
  position: relative;
  height: 400px;
  width: 570px;
  justify-content: flex-end !important;
  align-items: flex-start !important;
}

.incal-enemy-space {
  position: relative;
  height: 225px;
  width: 225px;
  transform: scale(0.75);
}

.incal-location-container {
  position: relative;
}

.location-card-container {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  bottom: -85px;
  left: -35px;
}

.silhouette-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#incal-deck-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  height: 180px;
}

#incal-space-decks {
  justify-content: space-around !important;
}

#power-chit-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 110px;
  width: 387px;
  top: 295px;
  left: 66px;
}

#player-hand {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 475px;
}

#incal-space-3 {
  width: 570px !important;
}

#incal-space-9 {
  width: 570px !important;
}

#player-hand-area {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: fixed;
  z-index: 100;
  bottom: 0;
}

#floating-hand-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: $playerColorRgba;
  border: 5px solid $playerColorHex;
  border-radius: 10px;
  z-index: 101;
}
