/**
 *
 * Location styles
 *
 */

.locationtile {
  background-image: url(./img/locationtiles.png);
  background-repeat: no-repeat;
  filter: drop-shadow(2px 2px 2px black);
  -webkit-filter: drop-shadow(2px 2px 3px #000);
  height: 307px;
  width: 506px;
}

.acidlake {
  background-position: -507px -0;
}

.aquaend {
  background-position: -507px -307px;
}

.centralcalculator {
  background-position: -0 -614px;
}

.crystalforest {
  background-position: -507px -614px;
}

.ourgargan {
  background-position: -0 -307px;
}

.psychoratsdump {
  background-position: -1014px -0;
}

.suicidealley {
  background-position: -1014px -614px;
}

.technocity {
  background-position: -0 -0;
}

.undergroundriver {
  background-position: -1014px -307px;
}
