/**
 *
 * Silhouette styles
 *
 */

.silhouette {
  background-image: url(./img/silhouettes.png);
  background-repeat: no-repeat;
  filter: drop-shadow(5px 5px 5px black);
  -webkit-filter: drop-shadow(5px 5px 6px #000);
}

.bergs {
  background-position: -0 -155px;
  height: 225px;
  width: 336px;
}

.darkness {
  background-position: -0 -380px;
  height: 253px;
  width: 298px;
}

.gorgothedirty {
  background-position: -0 -920px;
  height: 296px;
  width: 251px;
}

.metaship {
  background-position: -0 -0;
  height: 155px;
  width: 334px;
}

.necrobot {
  background-position: -0 -1216px;
  height: 324px;
  width: 172px;
}

.presidentshunchbacks {
  background-position: -0 -633px;
  height: 287px;
  width: 203px;
}
