/**
 *
 * Tooltip styles
 *
 */

.incal-tooltip {
  position: relative;
  z-index: 9999;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  pointer-events: none;
  gap: 15px;
  width: 464px;
  padding: 10px;
  background-color: #231f20;
  border-radius: 10px;
  border: 7px solid #fbcb0a;
}

.tooltip-title {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  font-family: "ITC Serif Gothic";
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 406px;
  border: 5px solid #231f20;
  line-height: 50px;
}

.title-animah {
  background-color: $animah;
}

.title-bergs {
  background-color: #c33c2c;
}

.title-damage {
  background-image: linear-gradient(to right, $damageleft, $damageright);
}

.title-darkness {
  background-color: #59825b;
}

.title-deepo {
  background-color: $deepo;
}

.title-gorgothedirty {
  background-color: #cb4d28;
}
.title-johndifool {
  background-color: $johndifool;
}

.title-kill {
  background-color: $kill;
}

.title-location {
  background-color: #f25031;
}

.title-metabaron {
  background-color: $metabaron;
}

.title-necrobot {
  background-color: #df4030;
}

.title-power {
  background-color: white;
  color: black;
}

.title-presidentshunchbacks {
  background-color: #eac60a;
}

.title-solune {
  background-color: $solune;
}

.title-tanatah {
  background-color: $tanatah;
}

.hexagon {
  background-image: url(./img/hex.png);
  background-repeat: no-repeat;
  height: 54px;
  width: 63px;
  position: absolute;
  right: 15px;
  top: 22px;
}

.location-hexagon {
  background-image: url(./img/location-hex.png);
  background-repeat: no-repeat;
  height: 54px;
  width: 63px;
  position: absolute;
  right: 15px;
  top: 22px;
}

.tooltip-card-value {
  line-height: 55px;
}

.tooltip-power-icon {
  transform: scale(0.7);
  position: absolute;
  right: 10px;
  top: -4px;
}
.text-animah {
  color: $animah;
}

.text-deepo {
  color: $deepo;
}

.text-johndifool {
  color: black;
}

.text-kill {
  color: $kill;
}

.text-metabaron {
  color: $metabaron;
}

.text-solune {
  color: $solune;
}

.text-tanatah {
  color: $tanatah;
}

.tooltip-text {
  color: #fff;
  width: 220px;
  font-family: "ITC Serif Gothic";
  font-size: 1.5em;
}

.tooltip-text-location {
  width: 450px !important;
}
.text-bold {
  color: #fbcb0a !important;
}

.text-warning {
  color: #f25031 !important;
}

.tooltip-body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.location-tooltip-name {
  font-size: 1.5em;
  font-weight: bold;
  font-family: "ITC Serif Gothic";
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 406px;
  border: 5px solid #231f20;
  line-height: 50px;
  background-color: #231f20;
}

.locationtile-tooltip {
  position: relative;
  top: -25px;
  left: -25px;
  transform: scale(0.9);
  margin-bottom: -40px;
}

.incal-tooltip .bergs {
  top: 105px;
}

.incal-tooltip .darkness {
  top: 125px;
}

.incal-tooltip .gorgothedirty {
  top: 145px;
}

.incal-tooltip .presidentshunchbacks {
  top: 145px;
}

.incal-tooltip .necrobot {
  top: 160px;
}

.enemy-icon {
  background-image: url(./img/enemyicons.png);
  background-repeat: no-repeat;
  filter: drop-shadow(5px 5px 5px black);
  -webkit-filter: drop-shadow(5px 5px 6px #000);
  width: 63px;
  height: 60px;
  position: absolute;
  right: 15px;
  top: 20px;
}

.darkness-icon {
  background-position: -0 -0;
}

.necrobot-icon {
  background-position: -63px -0;
}

.gorgothedirty-icon {
  background-position: -126px -0;
}

.presidentshunchbacks-icon {
  background-position: -189px -0;
}

.bergs-icon {
  background-position: -252px -0;
}
