/**
 *
 * Style variables
 *
 */
:root {
  --player-color-hex: #f00;
  --player-color-rgba: rgba(255, 0, 0, 0.5);
}

$playerColorHex: var(--player-color-hex);
$playerColorRgba: var(--player-color-rgba);

$animah: #e80289;
$damageleft: #d74220;
$damageright: #f6ec2e;
$deepo: #9ecbe6;
$johndifool: #ffffff;
$kill: #01aaeb;
$metabaron: #7dcb29;
$solune: #38b6a6;
$tanatah: #741e7e;